<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nuevo pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="newOrderForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating>Nombre del pedido</ion-label>
      <ion-input formControlName="name" type="text" [(ngModel)]="orderName" name="name" required></ion-input> 
    </ion-item>
    <div *ngIf="!newOrderForm.controls.name.valid && newOrderForm.controls.name.touched" style="text-align: center; color: red;">El nombre introducido no es válido</div>
    <div padding>
      <button ion-button tpye="submit" [disabled]="!newOrderForm.valid" block>Añadir pedido</button>
    </div>
  </form>
</ion-content>