<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nuevo producto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating>Nombre del producto</ion-label>
      <ion-input formControlName="name" type="text" [(ngModel)]="productName" name="name" required></ion-input>     
    </ion-item>
    <div *ngIf="!newProductForm.controls.name.valid && newProductForm.controls.name.touched" style="text-align: center; color: red;">El nombre introducido no es válido o está siendo utilizado</div>
    <ion-item>
      <ion-label floating>Precio del producto</ion-label>
      <ion-input formControlName="price" type="number" [(ngModel)]="productPrice" name="price" required></ion-input>€
    </ion-item>
    <div *ngIf="!newProductForm.controls.price.valid && newProductForm.controls.price.touched" style="text-align: center; color: red;">El precio introducido no es válido</div>
    <div padding>
    	<button ion-button type="submit" [disabled]="!newProductForm.valid" block>Añadir producto</button>
    </div>
  </form>
</ion-content>