<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nuevo ingrediente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="newIngredientForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating>Nombre del ingrediente</ion-label>
      <ion-input formControlName="name" type="text" [(ngModel)]="ingredientName" name="name" required></ion-input>     
    </ion-item>
    <div *ngIf="!newIngredientForm.controls.name.valid && newIngredientForm.controls.name.touched" style="text-align: center; color: red;">El nombre introducido no es válido o está siendo utilizado</div>
    <div padding>
    	<button ion-button type="submit" [disabled]="!newIngredientForm.valid" block>Añadir ingrediente</button>
    </div>
  </form>
</ion-content>