<ion-header>
  <ion-navbar>
    <ion-title>Categorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="categories && categories.length">
    <button block ion-item *ngFor="let category of categories" (click)="categoryTapped(category)">
      <img width="10%" item-left [src]="getIconUrl(category)" (error)="getDefaultIcon($event)"/>
      <h1>{{category.name}}</h1>
      <button ion-button (click)="setFavorite($event, category, !category.favorite)" clear item-right default icon-only>
        <ion-icon *ngIf="isFavorite(category)" name="star"></ion-icon>
        <ion-icon *ngIf="!isFavorite(category)" name="star-outline"></ion-icon>
      </button>
    </button>
  </ion-list>

  <div padding *ngIf="(!categories || !categories.length)" style="text-align: center;">
    <em>Aún no hay ninguna categoría</em>
  </div>

  <ion-fab right bottom margin>
    <button ion-fab (click)="addCategory()" color="primary">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>