<ion-menu id="adminMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <button ion-item (click)="showUser()" style="background: transparent;">
        <ion-avatar item-left>
          <img src="assets/img/burgerjavis.png"/>
        </ion-avatar>
        <ion-title>Burger Javi's</ion-title>
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of adminPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu id="waiterMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <button ion-item (click)="showUser()" style="background: transparent;">
        <ion-avatar item-left>
          <img src="assets/img/burgerjavis.png"/>
        </ion-avatar>
        <ion-title>Burger Javi's</ion-title>
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of waiterPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu id="kitchenMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <button ion-item (click)="showUser()" style="background: transparent;">
        <ion-avatar item-left>
          <img src="assets/img/burgerjavis.png"/>
        </ion-avatar>
        <ion-title>Burger Javi's</ion-title>
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of kitchenPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>