<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resumen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding *ngIf="!summaryData" style="text-align: center;">
    <em>No hay datos disponibles</em>
  </div>

  <ion-list *ngIf="summaryData">
    <ion-item>
      <ion-icon name="cash" item-start></ion-icon>
      <h1>Beneficios</h1>
      <ion-note item-end>{{summaryData.profits | currency:'EUR':true}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle-outline" item-start></ion-icon>
      <h1>Pedidos completados</h1>
      <ion-note item-end>{{summaryData.completedOrders}}</ion-note>
    </ion-item>
    <ion-item *ngIf="summaryData.topCategories" no-lines>
      <ion-item no-padding no-margin>
        <ion-icon name="podium" item-start></ion-icon>
        <h1>Mejores productos:</h1>
      </ion-item>
      <ion-list *ngFor="let category of summaryData.topCategories">
        <ion-list-header>{{category.name}}</ion-list-header>
        <ion-item *ngFor="let product of summaryData.topProducts[getCategoryIndex(category)]">
          {{product.productName}}
          <ion-note item-end>{{product.amount}}</ion-note>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>