<ion-header>
  <ion-navbar>
    <ion-title>{{product.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deleteProduct()">
        <ion-icon name="close" color="danger"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="product.ingredients && product.ingredients.length">
    <ion-item *ngFor="let ingredient of product.ingredients">
      <h1>{{ingredient.name}}</h1>
      <button ion-button (click)="deleteIngredient(ingredient)" clear item-end default icon-only>
        <ion-icon name="remove-circle" color="danger"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button class="save-button" type="submit" *ngIf="modified" (click)="updateProduct()" block>Guardar cambios</button>
  </div>

  <div padding style="text-align: center;" *ngIf="!product.ingredients || !product.ingredients.length">
    <em>No hay ingredientes</em>
  </div>

  <ion-fab right bottom margin>
    <button ion-fab (click)="addIngredient()" color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>