<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menú</ion-title>
    <ion-buttons *ngIf="isAdmin()" end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="menu && menu.length">
    <button [disabled]="!isAdmin()" block ion-item *ngFor="let product of menu" (click)="productTapped(product)">
      <h1>{{product.name}}</h1>
      <p *ngFor="let ingredient of product.ingredients">
        - {{ingredient.name}}
      </p>
      <b item-right item-bottom>{{product.price | currency:'EUR':true}}</b>
    </button>
  </ion-list>

  <div padding *ngIf="(!menu || !menu.length)" style="text-align: center;">
    <em>Aún no hay ningún producto en el menú</em>
  </div>

  <ion-fab *ngIf="isAdmin()" right bottom margin>
    <button ion-fab (click)="addProduct()" color="primary">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>