<ion-header>
  <ion-navbar>
    <ion-title>{{order.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deleteOrder()">
        <ion-icon name="close" color="danger"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of order.items">
      <h1>{{item.product.name}}</h1>
      <button ion-button (click)="decreaseAmount(item)" clear item-right small icon-only>
        <ion-icon name="remove-circle"></ion-icon>
      </button>
      <button style="width: 10%;" ion-button default item-right (click)="increaseAmount(item)" outline>
        {{item.amount}}
      </button>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button type="submit" *ngIf="modified" (click)="updateOrder()" block>Guardar cambios</button>
    <button ion-button type="submit" color="danger" *ngIf="order.items && !order.finished && order.items.length" (click)="finishOrderConfirmation()" block>Finalizar pedido</button>
  </div>

  <div padding *ngIf="!order.items || !order.items.length" style="text-align: center;">
    <em>El pedido está vacío</em>
  </div>

  <ion-fab right bottom margin>
    <button ion-fab (click)="addProduct()" color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>